<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>X Games</h1>
            <p>Informática e Games</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">Sobre</a>
            <a routerLink="contact">Contato</a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3">
            <a href="https://web.facebook.com/feasantos87/" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://api.whatsapp.com/send?phone=5511965383092&text=Bem%20vindo%2C%20Padawan.%20" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.instagram.com/feasantos87/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCNq-922W7HIeng88BzJVTow" target="_blank"><i class="bi bi-youtube"></i></a>
            <a href="https://www.linkedin.com/in/feasantos/" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/feasantos" target="_blank"><i class="bi bi-github"></i></a>
        </div>
    </div>
</div>